@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****************************************/
/* Variables */
:root {
  --clr-text-01: hsl(276, 100%, 81%);
  --clr-text-02: hsl(276, 55%, 52%);
  --clr-text-03: hsl(271, 15%, 43%);
  --clr-text-04: hsl(206, 6%, 79%);
  --clr-text-05: hsl(271, 36%, 24%);
  --clr-text-06: hsl(270, 7%, 64%);
  --clr-light-magenta: hsl(293, 100%, 63%);
  --clr-light-violet: hsl(264, 100%, 61%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-app-bg: hsl(270, 20%, 96%);
  --clr-body-bg: hsl(0, 0%, 98%);
  --clr-submit-btn-bg: hsl(271, 36%, 24%);
  --clr-radio-btn-bd: hsl(289, 100%, 72%);
  --clr-bg-chat-l: hsla(276, 100%, 81%, 0.2);
  --clr-bg-chat-r: var(--clr-white);
  --clr-shadow-chat-r: hsla(0, 0%, 0%, 0.05);

  --ff-default: 'Rubik', sans-serif;
  --width-bg-image: clamp(50%, 5vw, 500px);
  --transition-fast: ease 200ms;
}

/****************************************/
/* General Styles */
body {
  width: 100%;
  display: grid;
  place-items: center;
  font-family: var(--ff-default);
  background-color: var(--clr-body-bg);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4rem;
  padding-block: 4rem;
  position: relative;
  overflow-x: hidden;
}

main::before,
main::after {
  --bg-position-x: -310px;
  content: '';
  display: block;
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: -1;
}

main::before {
  background-image: linear-gradient(-30deg, var(--clr-light-violet), var(--clr-light-magenta));
  border-radius: 0 0 250px 250px;
  top: 0;
  left: var(--bg-position-x);
}

main::after {
  background-color: var(--clr-app-bg);
  border-radius: 250px 250px 0 0;
  bottom: 0;
  right: var(--bg-position-x);
}

button {
  background-color: transparent;
  border: none;
  position: relative;
}

/****************************************/
/* Phone Container */
.phone {
  width: 250px;
  height: 502px;
  flex-shrink: 0;
  background-color: var(--clr-app-bg);
  border: 0.625rem solid var(--clr-white);
  border-radius: 2rem;
  box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.phone::before {
  content: '';
  width: 130px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: var(--clr-white);
  border-radius: 0 0 12px 12px;
  transform: translateX(-50%);
}

.app-header {
  width: 100%;
  height: 66px;
  background-image: linear-gradient(to right, var(--clr-light-violet), var(--clr-light-magenta));
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.875rem 0.875rem 0.75rem;
}

.card {
  display: flex;
  justify-items: start;
  align-items: center;
  column-gap: 0.5rem;
}

.card__btn-arrow,
.card__btn-ellipsis {
  width: 12px;
  height: 20px;
}

.card__btn-arrow::before,
.card__btn-arrow::after {
  content: '';
  display: block;
  width: 2px;
  height: 6px;
  background-color: var(--clr-white);
}

.card__btn-arrow::before {
  transform: rotate(35deg) translate(5px, -2.5px);
}

.card__btn-arrow::after {
  transform: rotate(-35deg) translate(5px, 2.5px);
}

.card-user {
  width: max-content;
  display: grid;
  align-items: center;
  column-gap: 0.375rem;
  grid-template-areas: 'avatar name' 'avatar status';
}

.card-user h2 {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--clr-white);
  grid-area: name;
}

.card-user p {
  font-size: 0.5rem;
  color: var(--clr-text-01);
  grid-area: status;
}

.card-user img {
  width: 1.5rem;
  border: 1.5px solid var(--clr-white);
  border-radius: 50%;
  grid-area: avatar;
}

.card__btn-ellipsis {
  position: relative;
  display: grid;
  place-items: center;
  margin-inline-start: auto;
}

.card__btn-ellipsis span,
.card__btn-ellipsis::before,
.card__btn-ellipsis::after {
  display: block;
  width: 2px;
  height: 2px;
  background-color: var(--clr-white);
  opacity: 0.8;
}

.card__btn-ellipsis::before,
.card__btn-ellipsis::after {
  content: '';
  position: absolute;
}

.card__btn-ellipsis::before {
  top: 5px;
}

.card__btn-ellipsis::after {
  bottom: 5px;
}

/* App Chat Container */
.app-chat {
  height: 372px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 0.625rem 0.5rem;
  overflow-y: auto;
}

.message {
  font-size: 0.5rem;
  width: fit-content;
  max-width: 8rem;
  padding: 0.5rem;
  border-radius: 0.625rem;
  overflow-wrap: break-word;
}

.message:nth-child(2),
.message:nth-child(5) {
  margin-block-end: 0.5rem;
}

.friend.message {
  color: var(--clr-text-02);
  border-bottom-left-radius: 0.25rem;
  background-color: var(--clr-bg-chat-l);
}

.images {
  display: flex;
  gap: 0.5rem;
}

.images img {
  width: 2.5rem;
  border-radius: 0.5rem;
}

.user {
  align-self: flex-end;
}

.user.message {
  color: var(--clr-text-03);
  border-bottom-right-radius: 0.25rem;
  background-color: var(--clr-bg-chat-r);
  box-shadow: 0 2px 8px var(--clr-shadow-chat-r);
}

.bet {
  max-width: 10rem;
  min-height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.5rem;
  color: var(--clr-white);
  background-image: linear-gradient(to right, var(--clr-light-magenta), var(--clr-light-violet));
  border-radius: 0.625rem 0.625rem 0.625rem 0.25rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.bet input[type='radio'] {
  position: absolute;
  opacity: 0;
}

.bet label {
  cursor: pointer;
  position: relative;
  top: 1px;
  padding-inline-start: 1.25rem;
}

.bet label::before {
  content: '';
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-55%);
  border: 1px solid var(--clr-radio-btn-bd);
  border-radius: 50%;
  padding: 0.125rem;
  transition: border-color var(--transition-fast), background-color var(--transition-fast);
}

.bet input[type='radio']:focus ~ label::before,
.bet label:hover::before {
  border-color: var(--clr-white);
}

.bet input[type='radio']:checked ~ label::before {
  border-color: var(--clr-white);
  background-color: var(--clr-white);
  background-clip: content-box;
}

.bet span {
  font-size: 0.75rem;
  font-weight: 500;
  margin-inline-start: auto;
}

/* App Form Container */
.app-form {
  width: calc(100% - 1rem);
  height: 2.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-white);
  border-radius: 1.063rem;
  padding: 0.313rem;
  margin-inline: 0.5rem;
}

.app-form.error {
  border: 1px solid hsl(0, 98%, 65%);
}

#app-form__txt {
  width: calc(100% - 1.75rem);
  height: 0.875rem;
  font-family: var(--ff-default);
  font-size: 0.625rem;
  border: none;
  padding-inline-start: 0.813rem;
  resize: none;
}

#app-form__txt:focus-visible {
  outline: none;
}

#app-form__txt::placeholder {
  color: var(--clr-text-04);
}

#app-form__btn {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  background-color: var(--clr-submit-btn-bg);
  border-radius: 50%;
}

#app-form__btn::before,
#app-form__btn::after {
  content: '';
  display: block;
  width: 2px;
  height: 7px;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: var(--clr-white);
}

#app-form__btn::before {
  transform: rotate(50deg) translate(4px, -1px);
}

#app-form__btn::after {
  transform: rotate(-50deg) translate(3px, 2px);
}

/* Intro Container */
.intro {
  max-width: calc(442px + 3rem);
  text-align: center;
  padding-inline: 1.5rem;
}

.intro h1 {
  font-size: 2.375rem;
  font-weight: 500;
  color: var(--clr-text-05);
  margin-block-end: 2rem;
}

.intro p {
  color: var(--clr-text-06);
  line-height: 1.75em;
}

/* Footer */
footer {
  width: 100%;
  background-color: var(--clr-text-05);
}

.attribution {
  color: var(--clr-white);
  font-size: clamp(0.875rem, 3vw, 1rem);
  text-align: center;
  line-height: 1.5em;
  padding: 0.75rem 1rem;
}

.attribution a {
  color: inherit;
  opacity: 0.9;
  text-decoration: none;
}

.attribution a:hover,
.attribution a:focus-visible {
  opacity: 1;
  color: var(--clr-text-01);
  text-decoration: underline;
}

.fa-heart {
  color: var(--clr-text-01);
}

/****************************************/
/* Media Queries */
@media (min-width: 375px) {
  .intro {
    max-width: calc(442px + 4rem);
    padding-inline: 2rem;
  }
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4.5rem 2rem;
    padding-inline: 2rem;
  }

  main::before,
  main::after {
    height: 600px;
  }

  .intro {
    text-align: start;
  }
}

@media (min-width: 1024px) {
  main {
    column-gap: 7.75rem;
  }

  main::before,
  main::after {
    --bg-position-x: -180px;
    height: 700px;
  }

  .intro {
    max-width: 442px;
    padding-inline: 0;
  }
}

@media (min-width: 1440px) {
  main::before,
  main::after {
    --bg-position-x: -128px;
  }
}

@media (min-width: 1700px) {
  main {
    max-width: 1440px;
    overflow-x: visible;
  }
}