@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****************************************/
/* Variables */
:root {
  --clr-text-01: hsl(276, 100%, 81%);
  --clr-text-02: hsl(276, 55%, 52%);
  --clr-text-03: hsl(271, 15%, 43%);
  --clr-text-04: hsl(206, 6%, 79%);
  --clr-text-05: hsl(271, 36%, 24%);
  --clr-text-06: hsl(270, 7%, 64%);
  --clr-light-magenta: hsl(293, 100%, 63%);
  --clr-light-violet: hsl(264, 100%, 61%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-app-bg: hsl(270, 20%, 96%);
  --clr-body-bg: hsl(0, 0%, 98%);
  --clr-submit-btn-bg: hsl(271, 36%, 24%);
  --clr-radio-btn-ol: hsl(289, 100%, 72%);

  --ff-default: 'Rubik', sans-serif;
  --width-bg-image: clamp(50%, 5vw, 500px);
}

/****************************************/
/* General Styles */
body {
  width: 100%;
  font-family: var(--ff-default);
  background-color: var(--clr-body-bg);
}

main {
  width: min(100%, 820px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4rem;
  padding-block: 4rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
}

/****************************************/
/* Phone Container */
#phone {
  width: 250px;
  height: 510px;
  background-color: var(--clr-app-bg);
  border: 0.625rem solid var(--clr-white);
  border-radius: 2rem;
  box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

#phone::before {
  content: '';
  width: 130px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: var(--clr-white);
  border-radius: 0 0 12px 12px;
  transform: translateX(-50%);
}

.app-header {
  width: 100%;
  height: 66px;
  background-image: linear-gradient(to right, var(--clr-light-violet), var(--clr-light-magenta));
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.875rem 0.875rem 0.75rem;
}

.card {
  display: flex;
  justify-items: start;
  align-items: center;
  column-gap: 0.5rem;
}

.card__btn-arrow {
  width: 12px;
  height: 20px;
}

.card__btn-arrow::before,
.card__btn-arrow::after {
  content: '';
  display: block;
  width: 2px;
  height: 6px;
  background-color: var(--clr-white);
}

.card__btn-arrow::before {
  transform: rotate(35deg) translate(5px, -2.5px);
}

.card__btn-arrow::after {
  transform: rotate(-35deg) translate(5px, 2.5px);
}

.card-user {
  width: max-content;
  display: grid;
  align-items: center;
  column-gap: 0.375rem;
  grid-template-areas: 'avatar name' 'avatar status';
}

.card-user h2 {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--clr-white);
  grid-area: name;
}

.card-user p {
  font-size: 0.5rem;
  color: var(--clr-text-01);
  grid-area: status;
}

.card-user img {
  width: 1.5rem;
  border: 1.5px solid var(--clr-white);
  border-radius: 50%;
  grid-area: avatar;
}

.card__btn-ellipsis {
  
}

/****************************************/
/* Media Queries */
